@import './styles/fonts';
@font-face {
	font-family: 'Calibri';
	src: url('./assets/fonts/calibri.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    // width: 0; /* Ширина скроллбара */
    // height: 0; /* Высота скроллбара */
    // background: transparent; /* Прозрачный фон */
  }
}

body {
  font-family: 'Days', 'calibri.ttf';
}
